/* Explicitly for service.html page  */


:root {
    --primary-color: #99a98f;
    --decent-color: #d6e8db;
    --accent-color: #fff;
    --secondary-color: rgb(9, 189, 9);
    --text-color: gray;
}
  
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.menu--icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu--icons i {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--decent-color);
}

.fa-cart-shopping {
    background: transparent !important;
    border:  1px solid var(--primary-color);
    color: var(--primary-color);
}

.cart-icon {
    position: relative;
}
  
.cart-icon span {
    background: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: -5px;
    top: -5px;
}

/* Cart Menu Sidebar */

.sidebar {
    width: 300px;
    height: 92%;
    position: fixed;
    top: 77px;
    right: -300px;
    /* right: -300; */
    background-color: var(--accent-color);
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar.open {
    right: 0;
}

.sidebar-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.cart-items {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--text-color);
    border: 1px solid var(--decent-color);
}

.cart-item-price {
    color: var(--primary-color);
}

.sidebar--footer {
    position: absolute;
    bottom: 10px;
    width: 88%;
}

.total--amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--decent-color);
    border-radius: 5px;
    padding:  15px 10px;
}

.cart-total {
    font-size: 16px;
    color:  var(--primary-color);
    font-weight: 500;
}

.checkout-btn {
    width: 100%;
    margin-top: 2rem;
    background: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}



